<section id="conatiner_login">
    <h1>Login</h1>
    <h2>Por favor iniciar sesión</h2>
    <form id="loginForm">
        <label class="info">Email</label>
        <input name="email" type="text" id="email" required>
        <br>
        <label class="info">Contraseña</label>
        <input type="password" name="password" id="password" required>
    </form>
    <button type="submit" form="loginForm">Iniciar Sesión</button>
</section>

<script src="./js/login.js"></script>