<h1>Products</h1>
<h2>Bienvenido: {{user.firstName}} {{user.lastName}}</h2>
<hr>
<h3>Perfil: {{user.role}}</h3>
<button id="logout" onclick="logout()">cerrar sesión</button>
<script src="./js/logout.js"></script>