<section id="conatiner_register">
    <h1>Registro</h1>
    <h2>Por favor registrar sus datos</h2>
    <form id="registerForm">
        <label class="info">Nombre</label>
        <input name="firstName" type="text" id="firstName" required>
        <br>
        <label class="info">Apellido</label>
        <input name="lastName" type="text" id="lastName">
        <br>
        <label class="info">Email</label>
        <input name="email" type="text" id="email" required>
        <br>
        <label class="info">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label class="info">Edad</label>
        <input type="text" name="age" id="age">
        <hr>
    </form>
    <button type="submit" form="registerForm">Registrarse</button>
</section>
<script src="./js/register.js"></script>